/* Filename: Dedication.css */

/* =======================
   Dedication Styles.
========================== */
.dedication-title
{
    color: var(--highlight);
}

.dedication-content
{
    font-size: 1.05rem;
    line-height: 1.75;
    color: var(--text);
}

.dedication-content p
{
    margin-bottom: 1rem;
}
