/* Filename: src/App.css */

/* ====================================
   App Main Site Layout Styles.
======================================= */
.site-main
{
    display: flex;
    flex-direction: column;
}

/* =========================================
   App Section Wrapper Styles.
============================================ */
.section { width: 100%; padding-block: clamp(5rem, 9vw, 8rem); }
.section > *
{
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: clamp(1.5rem, 4vw, 3rem);
}

/* ====================================
   App Media Query Styles.
======================================= */
@media (max-width: 768px)
{
    .section { padding-block: clamp(3rem, 8vh, 5rem); }
}
