/* Filename: src/index.css */

/* Reset Styles. */
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Mount Point Styles. */
#root
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Media Query Styles. */
@media (max-width: 600px)
{
    #root { padding: 0 0.75rem; }
}
