/* Filename: index.css */

/* Reset Styles. */
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Container Styles. */
#root
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p
{
    margin-bottom: 1.15rem;
    line-height: 1.8;
    color: var(--text);
}

/* Media Query Styles. */
@media (max-width: 600px)
{
    #root { padding: 0 12px; }
}
