/* Filename: src/components/AboutMe/AboutMe.css */

/* AboutMe uses global section layout.
 No additional layout styles required. */

/*.about { display: flex; flex-direction: column; }*/

/* ====================================
   AboutMe Text Stucture Styles.
======================================= */
/*.about .section-text
{
    max-width: 62ch;
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 2.5vw, 2rem);
}*/

/* ====================================
   AboutMe Lead Paragraph Styles.
======================================= */
/*.about .section-lead
{
    font-size: clamp(1.2rem, 1.4vw, 1.35rem);
    font-weight: 500;
    line-height: 1.6;
    color: var(--text-strong);
}*/
